appdirs==1.4.3
attrs==16.3.0
Automat==0.5.0
backports-abc==0.5
certifi==2017.1.23
constantly==15.1.0
incremental==16.10.1
packaging==16.8
psutil==5.2.1
pycrypto==2.6.1
pyparsing==2.2.0
-e git+https://github.com/giupo/ServiceDiscovery.git@de8d8cd823109e80cbfc428e8bf43ecd771be387#egg=ServiceDiscovery&subdirectory=../../ServiceDiscovery
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.3
Twisted==17.1.0
ujson==1.35
zope.interface==4.3.3
